#main-nav {
  display: none;
}

.nav-item {
  list-style-type: none;
  font-size: 24px;
  color: #CC3300;
}

#mobile-nav {
  font-size: 2rem;
}

.nav-link{
  text-decoration: none;
  color: #CC3300;
}

#learn-nav{
  display: none;
}

#learn:hover #learn-nav{
  display: block;
  padding: 0;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 750px) {
  #main-nav {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
  #mobile-nav {
    display: none;
  }
}