h1 { color: #CC0099; 
  
}


#resume { display: block;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #CC3300;
    color: white;
    width: 100px;
    margin: 8px auto;
    border: 5px double black;
    border-radius: 20px; 
}

.indent {
    text-indent: 50px;
  }
  
  #first-para:first-letter {
    color: purple;
    font-size: 30px;
  }